# define the variable of image_pre.sh image_post.sh

# the version of scripts
pack_version=1.0.0

# the following variables decide the output messages
# set this variables null could cancel the output messages
ERR=true
NOTICE=true

# the following directory save the files needed by rootfs,and will be move to BINARIES_DIR
rootfs_mount_points="boot"

# definition the new mount point
new_mount_points="boot"

# partitions files, note the prefix should same to ${new_mount_points} list
# choose the files you want to compose the file system
boot_files="imx6ull-14x14-atk.dtb zImage rootfs.cpio.gz u-boot.imx mmc0_imx6ull-atk_extlinux mmc1_imx6ull-atk_extlinux boot.scr.uimg"

# the path of boot.scr.cmd and boot.scr.uimg
scr_cmd_file="${BINARIES_DIR}/boot.scr.cmd"
scr_uimg_file="${BINARIES_DIR}/boot.scr.uimg"

# the files should be reserved,system will clean other files
reserved_files="u-boot* zImage *.dtb rootfs.cpio.* *.ext[24] *.cpio* *.squashfs *.erofs *.img *.bin *.vfat"

# set this variable "yes" when need uboot deal
uboot_deal="no"
