image sdcard.img{
	hdimage {

	}

	partition u-boot {
		# 1K ~ 3M
		in-partition-table = "false"
		# image = "u-boot-imx6ull-14x14-ddr512-emmc.imx"
		image = "u-boot.imx"
		# seek=2,bs=512,imx6ull soc will auto load image on 2 sectors from sd
		# offset is byte unit, 2 * 512 = 1024 bytes
		offset = 1024
	}

	# uboot_env only for read
	# partition uboot_env {
	# 	# 5M ~ 6M
	# 	in-partition-table = "false"
	# 	# uboot env offest begin from 5M bytes
	# 	# offset is byte unit
	# 	offset = 5M
	# 	size = 1M
	# }

	partition bootfs {
		image = "bootfs.vfat"
		offset = 10M  # start from offset 10M bytes
		bootable = "true"
		partition-type = 0x0c
	}

	partition rootfs {
		# for developer to use
		image = "rootfs.ext4"
		size = 256M
		partition-type = 0x83
	}
}
