BR2_arm=y
BR2_cortex_a7=y
BR2_ARM_FPU_NEON_VFPV4=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="https://gitee.com/SudekiMing/gcc-linaro-4.9.4-2017.01-x86_64_arm-linux-gnueabihf/repository/archive/gcc-linaro-4.9.4-2017.01-x86_64_arm-linux-gnueabihf.tar.gz"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="$(ARCH)-linux-gnueabihf"
BR2_TOOLCHAIN_EXTERNAL_GCC_4_9=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_1=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TARGET_GENERIC_HOSTNAME="atk"
BR2_TARGET_GENERIC_ISSUE="Welcome to atk i.mx6ull"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_TARGET_GENERIC_ROOT_PASSWD="root"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="https://gitee.com/SudekiMing/linux-imx-rel_imx_4.1.15_2.1.0_ga/repository/archive/linux-imx-rel_imx_4.1.15_2.1.0_ga.tar.gz"
BR2_LINUX_KERNEL_DEFCONFIG="imx_v7_mfg"
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_TARBALL=y
BR2_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="https://gitee.com/SudekiMing/uboot-imx-rel_imx_4.1.15_2.1.0_ga/repository/archive/uboot-imx-rel_imx_4.1.15_2.1.0_ga.tar.gz"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="mx6ull_14x14_atk_emmc"
